#projects .container {
	max-width: 1200px;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 2rem;
	column-gap: 1.25rem;
}

.project-card {
	position: relative;
	width: 360px;
	height: auto;
	background-color: var(--color-white);
	border-radius: 0.25rem;
	overflow: hidden;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
		rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.project-card::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: all ease-in-out 0.3s;
	z-index: 1;
}
.project-card:hover::before {
	background: rgba(0, 0, 0, 0.5);
}
.project-card-hover {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.25rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.project-card-hover:hover {
	opacity: 1;
}

.project-title {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	color: #fff;
}

.project-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.circular-Button-no-hover,
.circular-Button,
.project-buttons a {
	width: 50px;
	height: 50px;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	color: white;
}

.circular-Button:hover,
.project-buttons a:hover {
	filter: brightness(150%);
	transition: filter ease-in-out 0.3s;
}

.project-buttons i {
	color: white;
	font-size: 1.25rem;
	border-radius: 50%;
	margin: auto;
}

.project-buttons-group {
	display: flex;
	gap: 0.5rem;
	position: relative;
}

.project-buttons-group span:first-of-type {
	opacity: 1;
	transition: opacity 0.3s;
}

.project-buttons-group:hover span:first-of-type {
	opacity: 0;
}

.project-buttons-group-links {
	position: absolute;
	bottom: 50%;
	translate: 0 50%;
	visibility: none;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	gap: 0.5rem;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.project-buttons-group:hover .project-buttons-group-links {
	visibility: visible;
	opacity: 1;
}

.project-tags-container {
	width: 360px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 0.75rem;
	row-gap: 0.5rem;
	padding-top: 0.75rem;
}

.project-tag {
	background-color: var(--color-primary);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	border-radius: 0.75rem;
	color: white;
	text-transform: capitalize;
	font-size: small;
}
