.home {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 72px);
}

.home .intro {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.home .intro img {
	border-radius: 50%;
	height: 144px;
	width: 144px;
	margin-bottom: var(--m-1-5);
	padding: 5px;
	background-color: white;
}

.home .intro .social-icons {
	margin-top: var(--m-1-5);
	margin-bottom: var(--m-1-5);
	font-size: var(--h3-font-size);
}

.home .intro .social-icons li {
	display: inline-block;
}

.home .intro .social-icons li:not(:last-of-type) {
	margin-right: var(--m-1-5);
}

.home svg {
	fill: var(--color-dark);
	width: 1.25rem;
}

.home .intro .social-icons li svg:hover {
	fill: var(--color-primary);
}

.scroll-down {
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1.25rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: auto;
}
