#projects .container {
	max-width: 100%;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 1rem;
	column-gap: 1rem;
}

@media (width > 640px) {
	.projects-container {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (width > 1024px) {
	.projects-container {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	#projects .container {
		padding-inline: 4rem;
	}
}

.project-card {
	position: relative;
	height: auto;
	aspect-ratio: 16 / 9;
	background-color: var(--color-white);
	border-radius: 0.25rem;
	overflow: hidden;
	text-align: center;
}
.project-card::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: all ease-in-out 0.3s;
	z-index: 1;
}
.project-card:hover::before {
	background: rgba(0, 0, 0, 0.5);
}
.project-card-hover {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 0.5rem;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.project-card-hover:hover {
	opacity: 1;
}

.project-title {
	color: #fff;
	font-size: var(--h2-font-size);
}

.project-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.circular-Button-no-hover,
.circular-Button,
.project-buttons a {
	width: 50px;
	height: 50px;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	color: white;
}

.circular-Button:hover,
.project-buttons a:hover {
	filter: brightness(150%);
	transition: filter ease-in-out 0.3s;
}

.project-buttons svg {
	fill: white;
	height: 1.25rem;
	margin: auto;
}

.project-buttons-group {
	display: flex;
	gap: 0.5rem;
	position: relative;
}

.project-buttons-group span:first-of-type {
	opacity: 1;
	transition: opacity 0.3s;
}

.project-buttons-group:hover span:first-of-type {
	opacity: 0;
}

.project-buttons-group-links {
	position: absolute;
	bottom: 50%;
	translate: 0 50%;
	visibility: none;
	display: flex;
	visibility: hidden;
	gap: 0.5rem;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.project-buttons-group:hover .project-buttons-group-links {
	visibility: visible;
	opacity: 1;
}

.project-tags-container {
	width: 360px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 0.75rem;
	row-gap: 0.5rem;
}

@media (max-width: 1024px) {
	.project-tags-container {
		display: none;
	}

	.project-card-hover {
		justify-content: center;
		row-gap: 2rem;
	}
}

.project-tag {
	background-color: var(--color-primary);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	border-radius: 0.75rem;
	color: white;
	font-size: small;
}
