:root {
	/*============ Font and topography ============*/
	--body-font: 'Rubik', sans-serif;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.75rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;

	/*============ Font weight ============*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*============ Margins Bottom ============*/
	--m-0-5: 0.5rem;
	--m-0-75: 0.75rem;
	--m-1: 1rem;
	--m-1-5: 1.5rem;
	--m-2: 2rem;
	--m-2-5: 2.5rem;

	/*============ Card padding ============*/
	--card-padding: 1.9rem 0.95rem;

	/*============ Border radius ============*/
	--btn-border-radius: 0.25rem;
	--card-border-radius: 1.25rem;

	/*============ Box shadow ============*/
	--box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

	/*==== Misc ====*/
	--header-height: 5rem;
}

@media (max-width: 48rem) {
	:root {
		--h1-font-size: 1.75rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1rem;
		--normal-font-size: 0.938rem;
		--small-font-size: 0.813rem;
	}
}

[data-primary='indigo'] {
	--color-primary: #6366f1;
}
[data-primary='emerald'] {
	--color-primary: #10b981;
}
[data-primary='ruby'] {
	--color-primary: #f43f5e;
}
[data-primary='amber'] {
	--color-primary: #f59e0b;
}
[data-primary='sky'] {
	--color-primary: #0ea5e9;
}

[data-bg='light'] {
	--color-base-100: #ffffff;
	--color-base-200: #f5f7fa;
	--color-base-300: #cbd5e1;
	--color-base-content: #111827;
}

[data-bg='dark'] {
	--color-base-100: #1e293b;
	--color-base-200: #0f172a;
	--color-base-300: #475569;
	--color-base-content: #f8fafc;
}

[data-bg='midnight'] {
	--color-base-100: #000000;
	--color-base-200: #0a0a0a;
	--color-base-300: #334155;
	--color-base-content: #f1f5f9;
}

[data-font-size='sm'] {
	font-size: 12px;
}
[data-font-size='md'] {
	font-size: 14px;
}
[data-font-size='base'] {
	font-size: 16px;
}
[data-font-size='lg'] {
	font-size: 18px;
}

@font-face {
	font-family: 'Rubik';
	font-weight: 400;
	src:
		url('/portfolio/fonts/rubik-regular.woff2') format(woff2),
		url('/portfolio/fonts/rubik-regular.woff') format(woff);
}

@font-face {
	font-family: 'Rubik';
	font-weight: 500;
	src:
		url('/portfolio/fonts/rubik-medium.woff2') format(woff2),
		url('/portfolio/fonts/rubik-medium.woff') format(woff);
}

@font-face {
	font-family: 'Rubik';
	font-weight: 600;
	src:
		url('/portfolio/fonts/rubik-semibold.woff2') format(woff2),
		url('/portfolio/fonts/rubik-regular.woff') format(woff);
}
