.skills-container {
	border-radius: var(--card-border-radius);
	background-color: var(--color-white);
	padding: 28px;
}

.skills-tabs {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: var(--m-2-5);
}

.skills-tab {
	display: flex;
	align-items: center;
	cursor: pointer;
	column-gap: var(--m-0-75);
	color: var(--color-gray);
}

.skills-icon {
	font-size: var(--h1-font-size);
	margin-right: var(--m-0-75);
}

.skills-title {
	font-size: var(--h3-font-size);
}

.skills-active.skills-tab {
	color: var(--color-primary);
	transition: color 0.5s ease;
}

.skills-group {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	gap: var(--m-2-5);
}

.skill-container {
	margin-top: auto;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: var(--m-0-5);
	text-align: center;
}

.skill-container img {
	max-height: 52px;
}

.skill-image-lighten {
	filter: invert(0.6);
}

@media (width < 760px) {
	.skills-icon {
		margin: 0;
		font-size: 40px;
	}

	.skills-title {
		display: none;
	}

	.skills-group {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.skill-name {
		font-size: medium;
	}
}
