---
import About from '~/components/about.astro'
import Contact from '~/components/contact.astro'
import Experience from '~/components/experience.astro'
import Footer from '~/components/footer.astro'
import Home from '~/components/home.astro'
import Navbar from '~/components/navbar'
import Projects from '~/components/projects/index.astro'
import Skills from '~/components/skills.astro'
import Layout from '../layouts/layout.astro'
---

<Layout title='Riyadh Baatchia'>
	<body>
		<>
			<Navbar client:idle />
			<Home />
			<About />
			<Projects />
			<Skills />
			<Experience />
			<Contact />
			<Footer />
		</>
	</body>
</Layout>

<script>
	const THEME = {
		fontSizes: ['12px', '14px', '16px', '18px'],
		colorHues: ['252', '127', '352', '49', '229'],
		backgrounds: [
			['92%', '17%', '100%'],
			['15%', '95%', '20%'],
			['10%', '95%', '0%'],
		],
	}

	const getThemeItems = (key: string, val: number) => {
		const storedItems = localStorage.getItem(key)
		if (storedItems) return parseInt(storedItems, 10)

		localStorage.setItem(key, val.toString())
		return val
	}

	const fontSizeIdx = getThemeItems('fontSizeIdx', 2)
	const colorHueIdx = getThemeItems('colorHueIdx', 2)
	const bgColorIdx = getThemeItems('bgColorIdx', 1)

	const style = document.documentElement.style
	style.fontSize = THEME.fontSizes[fontSizeIdx]
	style.setProperty('--primary-color-hue', THEME.colorHues[colorHueIdx])
	style.setProperty(
		'--light-color-lightness',
		THEME.backgrounds[bgColorIdx][0]
	)
	style.setProperty(
		'--dark-color-lightness',
		THEME.backgrounds[bgColorIdx][1]
	)
	style.setProperty(
		'--white-color-lightness',
		THEME.backgrounds[bgColorIdx][2]
	)
</script>
