.contact-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-box {
	width: 40%;
}

.contact-form {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.contact-data {
	display: grid;
	row-gap: 2rem;
}

@media screen and (max-width: 600px) {
	.contact-container {
		justify-content: center;
		row-gap: 2.5rem;
	}
	.contact-box,
	.contact-form {
		width: 90%;
	}
	.contact-data {
		justify-content: center;
	}
}

.contact-subtitle {
	margin-bottom: var(--m-0-5);
}

.contact-description {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
}
.contact-description i {
	font-size: 1.25rem;
}

.contact-inputs {
	display: grid;
	row-gap: 2rem;
	margin-bottom: var(--m-2-5);
}

.contact-content {
	position: relative;
	height: 3rem;
	border-bottom: 2px solid var(--color-gray);
}
.contact-content span {
	position: absolute;
	content: '';
	bottom: -2px;
	left: 0;
	height: 2px;
	width: 0%;
	transition: 0.5s;
	background-color: var(--color-primary);
}

.contact-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem 1rem 1rem 0;
	background: none;
	color: var(--color-dark);
	outline: none;
	border: none;
	z-index: 1;
}
.contact-input:focus ~ span {
	width: 100%;
}

.contact-label {
	position: absolute;
	top: 0.4rem;
	width: 100%;
	font-size: var(--normal-font-size);
	transition: 0.3s;
}

.contact-area {
	height: 7rem;
}

.contact-area textarea {
	resize: none;
}

.contact-input:focus + .contact-label {
	top: -0.75rem;
	left: 0;
	z-index: 10;
	color: var(--color-primary);
}

.contact-form button {
	outline: none;
	border: none;
	cursor: pointer;
	color: white;
}
