@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--body-font);
}

body,
button,
input,
textarea {
	font-size: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--color-light);
	color: var(--color-dark);
	line-height: 1.7;
	font-weight: var(--font-medium);
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-dark);
}

h1,
h2,
h3 {
	font-weight: var(--font-semi-bold);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

/*============ Layout ============*/
.container {
	max-width: 970px;
	margin: auto;
	padding-left: var(--m-0-75);
	padding-right: var(--m-0-75);
}

.px-15 {
	padding-inline: 15px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*============ Buttons ============*/
.btn {
	padding: 0.75rem 2rem;
	line-height: 1;
	border-radius: var(--btn-border-radius);
}
.btn:focus {
	outline: 0;
}
.btn-default {
	width: fit-content;
	margin-inline: auto;
	background-color: var(--color-primary);
}
.btn-default a {
	color: white;
}
.btn-default:hover {
	filter: brightness(150%);
	transition: filter ease-in-out 0.3s;
}

/*============ Reuseable classes ============*/
.section .container {
	padding-top: 4.75rem;
	padding-bottom: 4.75rem;
}

.section-title {
	font-size: var(--h1-font-size);
	margin-bottom: var(--m-2-5);
	text-align: center;
}

::-webkit-scrollbar {
	width: 0.6rem;
	background: var(--color-white);
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 0.5rem;
}

html {
	scrollbar-color: var(--color-primary) var(--color-white);
	scrollbar-width: 0.6rem;
}
