:root {
	--header-height: 4.5rem;
	/*{ text: 'Dim', values: ['15%', '95%', '20%'] },*/
	/*============ Colors ============*/
	--primary-color-hue: 352;
	--dark-color-lightness: 15%;
	--light-color-lightness: 95%;
	--white-color-lightness: 20%;

	--color-white: hsl(252, 30%, var(--white-color-lightness));
	--color-light: hsl(252, 30%, var(--light-color-lightness));
	--color-gray: hsl(252, 15%, 65%);
	--color-primary: hsl(var(--primary-color-hue), 69.9%, 53.1%);
	--color-dark: hsl(252, 30%, var(--dark-color-lightness));

	/*============ Font and topography ============*/
	--body-font: 'Rubik', sans-serif;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.75rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;

	@media screen and (max-width: 992px) {
		--h1-font-size: 1.75rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1rem;
		--normal-font-size: 0.938rem;
		--small-font-size: 0.813rem;
	}

	/*============ Font weight ============*/
	--font-medium: 400;
	--font-semi-bold: 600;

	/*============ Margins Bottom ============*/
	--m-0-5: 0.5rem;
	--m-0-75: 0.75rem;
	--m-1: 1rem;
	--m-1-5: 1.5rem;
	--m-2: 2rem;
	--m-2-5: 2.5rem;

	/*============ Card padding ============*/
	--card-padding: 1.9rem 0.95rem;

	/*============ Border radius ============*/
	--btn-border-radius: 0.25rem;
	--card-border-radius: 1.25rem;

	/*============ Box shadow ============*/
	--box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
